<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%= form_for(@user, url: create_path) do |f| %>
  First name: <%= f.text_field :name %><br />
  Last name : <%= f.text_field :email %><br />
  <%= f.submit %><br />
<% end %>